#first {
    color: #41ead4;
    background-color: #b388eb;
}

#second {
    color: #fff;
    background-color: #00ff00;
}

#three {
    color: #0000ff;
    background: #f15025;
}

#four {
    color: #f234ad;
    background-color: #222;
}