/* ELEMENT SELECTORS*/

h1 {
    color: red;
}
h2 {
    color: green;
}
p {
    color: blue;
}


/* ID */

#title {
    color: green;
    background: #000;
}

#subheading {
    color: red;
    background: gray;
}

/* CLASS SELECTORS */

.green {
    color: green;
}

.red {
    color: red;
    background: grey;
}

.lowercase {
    text-transform: lowercase;
}
#title {
    font-size: 40px;
}
