* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.9s ease-out;
    font-family: Arial, Helvetica, sans-serif;
}

.osn {
    background-color: #000;
    min-height: 70vh;
    margin: 130px 30px 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.words {
    color: #fff;
    font-size: 55px;
    animation: text 6s infinite;
}

@keyframes text {

    0% {
        text-shadow: 3px 3px 1px green;
        color: #fff;
    }

    25% {
        text-shadow: 13px 1px 20px green;
        color: #F0B9A3;
        transform: translateX(3px);
    }

    50% {
        text-shadow: -16px -1px 20px pink;
        color: #E79FBF;
        transform: translateX(-3px);
    }

    100% {
        text-shadow: 3px 3px 1px green;
        color: #fff;
    }
}